footer {
    font-size: 10px;
    padding-top: 20px;
  }

body {
  background-color: grey;
}
 
.grid {
  padding: 3px;
}

.grid div:nth-child(even) {
  background-color: lightgray;
  padding: 3px;
}

.grid div:nth-child(odd) {
  background-color: darkgray;
  padding: 3px;
}

.ticket {
  border: 2px black;
  padding: 10%;
  margin: 5px;
}